/* Estilos relacionados ao rodapé */

footer {
    text-align: center;
    border-top: 1px solid #fff;
    padding: 20px;
    width: 75%;
    margin: auto;
    text-transform: lowercase;
}

footer section span:first-child {
    color: chocolate;
}

footer section span:last-child {
    color: aqua;
}